@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="content-group">
        <div class="page-header page-header-default" style="border-left: 1px solid #ddd; border-right: 1px solid #ddd;">
            <div class="breadcrumb-line bg-blue-600">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="icon-stack2 position-left"></i> Project-1  Installation of Transformer in Seven districts in Dhaka Division</a></li>
                </ul>
                <ul class="breadcrumb-elements">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right bg-primary">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated line</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
           
                <div class="col-lg-4">
                    <div class="panel panel-flat border-top-success border-right-success border-left-success border-bottom-success">
                        <div class="panel-body">
                            <div class="heading-elements">
                                <ul class="icons-list">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i> <span class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="#"><i class="icon-sync"></i> Update data</a></li>
                                            <li><a href="#"><i class="icon-list-unordered"></i> Detailed log</a></li>
                                            <li><a href="#"><i class="icon-pie5"></i> Statistics</a></li>
                                            <li><a href="#"><i class="icon-cross3"></i> Clear list</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="no-margin">49.4%</h3>
                            Status Running
                            <a href="@Url.Action("Index", "SitePlanTaskStatus")">View</a>
                                <div class="text-bold text-size-small">Installation of Transformer in Dhaka</div>
</div>
                    </div>
                </div>

            <div class="col-lg-4">
                <div class="panel panel-flat border-top-info border-right-info border-left-info border-bottom-info">
                    <div class="panel-body">
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i> <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-sync"></i> Update data</a></li>
                                        <li><a href="#"><i class="icon-list-unordered"></i> Detailed log</a></li>
                                        <li><a href="#"><i class="icon-pie5"></i> Statistics</a></li>
                                        <li><a href="#"><i class="icon-cross3"></i> Clear list</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <h3 class="no-margin">100%</h3>
                        Status Complete
                        <div class="text-bold text-size-small">Installation of Transformer in Joydevpur</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-flat border-top-danger border-right-danger border-left-danger border-bottom-danger">
                    <div class="panel-body">
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i> <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-sync"></i> Update data</a></li>
                                        <li><a href="#"><i class="icon-list-unordered"></i> Detailed log</a></li>
                                        <li><a href="#"><i class="icon-pie5"></i> Statistics</a></li>
                                        <li><a href="#"><i class="icon-cross3"></i> Clear list</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <h3 class="no-margin">37%</h3>
                        Status Closed
                        <div class="text-bold text-size-small">Installation of Transformer in Rajshahi</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br /> <hr />
<br />

<div class="row">
    <div class="content-group">
        <div class="page-header page-header-default" style="border-left: 1px solid #ddd; border-right: 1px solid #ddd;">
            <div class="breadcrumb-line bg-blue-600">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="icon-stack2 position-left"></i> Project-2  Underground Transmission line setup in Chittagong Division</a></li>
                </ul>
                <ul class="breadcrumb-elements">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right bg-primary">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated line</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4">
                <div class="panel panel-flat border-top-success border-right-success border-left-success border-bottom-success">
                    <div class="panel-body">
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i> <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-sync"></i> Update data</a></li>
                                        <li><a href="#"><i class="icon-list-unordered"></i> Detailed log</a></li>
                                        <li><a href="#"><i class="icon-pie5"></i> Statistics</a></li>
                                        <li><a href="#"><i class="icon-cross3"></i> Clear list</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <h3 class="no-margin">97.98%</h3>
                        Status Running
                        <div class="text-bold text-size-small">Installation of Transformer in Dhaka</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-flat border-top-success border-right-success border-left-success border-bottom-success">
                    <div class="panel-body">
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i> <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-sync"></i> Update data</a></li>
                                        <li><a href="#"><i class="icon-list-unordered"></i> Detailed log</a></li>
                                        <li><a href="#"><i class="icon-pie5"></i> Statistics</a></li>
                                        <li><a href="#"><i class="icon-cross3"></i> Clear list</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <h3 class="no-margin">76.98%</h3>
                        Status Running
                        <div class="text-bold text-size-small">Installation of Transformer in Uttara</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-flat border-top-danger border-right-danger border-left-danger border-bottom-danger">
                    <div class="panel-body">
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i> <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-sync"></i> Update data</a></li>
                                        <li><a href="#"><i class="icon-list-unordered"></i> Detailed log</a></li>
                                        <li><a href="#"><i class="icon-pie5"></i> Statistics</a></li>
                                        <li><a href="#"><i class="icon-cross3"></i> Clear list</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <h3 class="no-margin">13%</h3>
                        Status Closed
                        <div class="text-bold text-size-small">Installation of Transformer in Rajshahi</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-flat border-top-info border-right-info border-left-info border-bottom-info">
                    <div class="panel-body">
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i> <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-sync"></i> Update data</a></li>
                                        <li><a href="#"><i class="icon-list-unordered"></i> Detailed log</a></li>
                                        <li><a href="#"><i class="icon-pie5"></i> Statistics</a></li>
                                        <li><a href="#"><i class="icon-cross3"></i> Clear list</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <h3 class="no-margin">100%</h3>
                        Status Complete
                        <div class="text-bold text-size-small">Installation of Transformer in Joydevpur</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

